<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>王珂</string>
	<string>18709259205</string>
	<string>陕西省西安市户县</string>
	<string>户县画展街205号</string>
	<string>710300</string>
</array>
</plist>
